PORT=3000
MP_ACCESS_TOKEN=SEU_ACCESS_TOKEN_MERCADO_PAGO
MP_WEBHOOK_SECRET=SEU_WEBHOOK_SECRET_MERCADO_PAGO
RESEND_API_KEY=SUA_API_KEY_RESEND
EBOOK_PDF_PATH=../e-books/Um_Dia_de_Cada_Vez_Volume_I_30_Reflexoes.pdf